{% extends "layouts/base.html" %} {% block content %}
<!-- Main Content -->

<div class="main-content">
    <div class="text-content">
        <div class="logo-container">
            <img
                src="/static/assets/aaua-logo.png"
                alt="AAUA Logo"
                class="logo-img"
            />
        </div>
        <h3>NSiEMS Journal</h3>
        <p>
            The Nigerian Studies in Economics and Management Sciences (NSiEMS) is a research journal that publishes new and advanced research results in the fields of Economics and Management Sciences as well as discussion on local, state and national economic issues. 
        </p>
        <p>
             The journal also publishes papers from the annual Nigerian Studies in Economics and Management Sciences Conference sponsored by the Department Economics of Adekunle Ajasin University, Akungba-Akoko, Ondo State, Nigeria.
        </p>
        <p>
            In line with the aims and scope of the journal, the editors encourage research works that are new and innovative and management-based which can advance frontier of knowledge; such novelty and innovation could have origins in ideas, theoretical development, databases, research design and methodologies. NSiEMS publication is released annually, one volume per year.
        </p>

        <a href="/submit" class="btn">Submit An Article</a>
    </div>
    <div class="image-content">
        <img
            src="/static/assets/nsiems.jpg"
            alt="Student in library"
            class="content-img"
        />
        <div class="blue-box"></div>
    </div>
</div>

<div class="stats-division">
    <div class="stats">
        <div class="stat-item">
            <div class="stat-number">400+</div>
            <div class="stat-label">Articles</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">200+</div>
            <div class="stat-label">Readers</div>
        </div>
        <div class="stat-item">
            <div class="stat-number">10+</div>
            <div class="stat-label">Editors</div>
        </div>
    </div>
</div>

<!-- Latest Publications -->
<section class="publications">
    <div class="pub-header">
        <h2>Latest Publications</h2>
        <a href="/journal" class="view-all">View All Publications →</a>
    </div>
    <div class="pub-grid">
        {% for journal in journals %}
        <div
            class="pub-card"
            onclick="window.location.href='/journals/{{journal.id_string()}}'"
            style="cursor: pointer"
        >
            <div class="pub-vol">
                Volume: {{journal.volume_number}}, Pages: {{journal.pages}}
            </div>
            <div class="pub-title">{{journal.title}}</div>
            <div class="pub-abstract">
                <strong>Abstract:</strong>
                <p>{{journal.abstract_text}}</p>
            </div>
            <div class="pub-meta">
                <img src="/static/assets/group.png" alt="Category icon" />
                <span>{{journal.keywords}}</span>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
